In [46]:
# !pip install scikit-learn

<h1>DataFrame Creation</h1>

In [47]:
import pandas as pd
import numpy as np

In [48]:
data = {"price":[110,105,115,120,110,130,150,100,105]}
df = pd.DataFrame(data)

In [49]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

<h1>Normalization</h1>

In [50]:
from sklearn.preprocessing import MinMaxScaler

In [51]:
scaler = MinMaxScaler()
df["transformed_data"] = scaler.fit_transform(df[["price"]])

In [52]:
df

   price  transformed_data
0    110               0.2
1    105               0.1
2    115               0.3
3    120               0.4
4    110               0.2
5    130               0.6
6    150               1.0
7    100               0.0
8    105               0.1

<h1>Standardization</h1>

In [53]:
from sklearn.preprocessing import StandardScaler

In [54]:
df = pd.DataFrame(data)

In [55]:
scaler = StandardScaler()
df["transformed_data"] = scaler.fit_transform(df[["price"]])

In [56]:
df

   price  transformed_data
0    110         -0.416356
1    105         -0.757011
2    115         -0.075701
3    120          0.264954
4    110         -0.416356
5    130          0.946264
6    150          2.308884
7    100         -1.097666
8    105         -0.757011

<h1>Log Transform</h1>

In [57]:
df = pd.DataFrame(data)

In [58]:
df["transformed_data"] = np.log1p(df[["price"]])

In [59]:
df

   price  transformed_data
0    110          4.709530
1    105          4.663439
2    115          4.753590
3    120          4.795791
4    110          4.709530
5    130          4.875197
6    150          5.017280
7    100          4.615121
8    105          4.663439

In [71]:
# from scipy.stats import boxcox

In [72]:
# df = pd.DataFrame(data)

In [73]:
# df["transformed_data"] = boxcox(df["price"]+1)

<h1>Max Absolute Scaler</h1>

In [74]:
df = pd.DataFrame(data)

In [75]:
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [76]:
from sklearn.preprocessing import MaxAbsScaler

In [77]:
scaler = MaxAbsScaler()
df["transformed_data"] = scaler.fit_transform(df[["price"]])

In [78]:
df

   price  transformed_data
0    110          0.733333
1    105          0.700000
2    115          0.766667
3    120          0.800000
4    110          0.733333
5    130          0.866667
6    150          1.000000
7    100          0.666667
8    105          0.700000

<h1>Robust Scaler</h1>

In [79]:
df = pd.DataFrame(data)
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [80]:
from sklearn.preprocessing import RobustScaler

In [81]:
scaler = RobustScaler()
df["transformed_data"] = scaler.fit_transform(df[["price"]])

In [82]:
df

   price  transformed_data
0    110          0.000000
1    105         -0.333333
2    115          0.333333
3    120          0.666667
4    110          0.000000
5    130          1.333333
6    150          2.666667
7    100         -0.666667
8    105         -0.333333